.card{
	margin: 5%;
}

#submit{
	position: relative;
	float: right;
	margin-right: 2%;
	margin-top: 2.5%;
}

#nav-home-tab, #nav-profile-tab{
	color: red;
}

#nav-home-tab:active ,#nav-profile-tab:active{
	color: black;
}